{% from "macros.html" import play_bounce_link with context %}
{% from "macros.html" import play_2_bounces_link with context %}

{% extends "layout.html" %}
{% block body %}

    {% for bounceClassAndBounces in bounceClassesAndBounces %}
        {% set className = bounceClassAndBounces[0] %}
        {% set numBounces = bounceClassAndBounces[1] %}
        {% set bouncesWithDeduction = bounceClassAndBounces[2] %}

        <h1>{{ className }} ({{ numBounces }})</h1>

        <div class="row">
            {% for bounceInfo in bouncesWithDeduction %}

                <div class="col-4 js-bounce">
                    <div class="card mb-3">
                        <img src="{{ url_for( 'static', filename=bounceInfo['img_path']) }}" data-contiue-playing="false" style="max-width: 100%;">
                        <div class="card-block" style="padding: .25rem;">
                            {{ play_bounce_link( bounceInfo['bounce'].id ) }}
                            {{ play_2_bounces_link( bounceInfo['bounce'].id ) }}
                            {{ bounceInfo['deduction_value'] }}
                            {{ bounceInfo['bounce'].id }}

                            <!-- Judging -->
                            <span class="pull-right js-new_deduction_value">0.0</span>
                            <div class="js-deduction_categories" data-bounce-id="{{ bounceInfo['bounce'].id }}">
                                {{ bounceInfo['deduction_cats_html'] }}
                            </div>
                            <button type="button" class="pull-right btn btn-sm btn-primary js-add_deductions">Add Deductions</button>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    {% endfor %}

{% endblock %}


{% block js %}
    <div style="position:fixed;bottom:0;">
        <img class="js-angles" src="" style="width:100%">
    </div>

    <script>
        BouncesGUIControls.init()
    </script>
{% endblock %}