{% from "macros.html" import progress_bar with context %}

{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 style="font-weight: 300;">Final Year Project</h1>
            <p class="lead">This website was made to help label and judge trampoline routine videos.</p>
            <div>Click the <a href="list">Routines</a> link to get to the meat.</div>
        </div>
    </div>

    <h3>Tallies</h3>
    <h4>Pose</h4>
    Using {{ counts['routinesUse'] }} of {{ counts['routines'] }} routines. <br>
    <div style="padding-bottom: 1rem">
        Pose for {{ counts['routinesUsePose'] }} of {{ counts['routinesUse'] }} usable routines.
        {{ progress_bar('bg-success', percentCompletes['routinePose']) }}
    </div>

    Using {{ counts['bouncesJudgeableUse'] }} of {{ counts['bouncesJudgeable'] }} judgeable bounces ({{ counts['bounces'] }} incl StB, Ldn & Broken). <br>
    <div style="padding-bottom: 1rem">
        Pose for {{ counts['bouncesJudgeableUsePose'] }} of {{ counts['bouncesJudgeableUse'] }} usable, judgeable bounces.
        {{ progress_bar('bg-info', percentCompletes['bouncePose']) }}
    </div>

    <h4>Deductions</h4>
    All bounces with new {{ counts['bouncesJudgedNew'] }}, old {{ counts['bouncesJudgedOld'] }} deductions. <br>

    Old deductions for {{ counts['bouncesUsePoseJudgedOld'] }} used, posed, judgeable bounces. <br>
    {#    Old deductions for {{ counts['bouncesUseJudgedOld'] }} used, no pose, judgeable bounces (just import these ones?...). <br> <br>#}

    <div style="padding-bottom: 1rem">
        Judgements for {{ counts['routinesUsePoseJudgedOld'] }} of {{ counts['routinesUsePose'] }} posed, usable routines.
        {{ progress_bar('bg-success', percentCompletes['routinesJudged']) }}
    </div>

    <div style="padding-bottom: 1rem">
        Deductions for {{ counts['bouncesUsePoseJudgedOld'] }} of {{ counts['bouncesJudgeableUsePose'] }} posed, usable, judgeable bounces.
        {{ progress_bar('bg-info', percentCompletes['bouncesJudged']) }}
    </div>




{% endblock %}