{% extends "layout.html" %}
{% block body %}

    <!--
    <h4>
      <?=$routine['name']?>
      <small><?=$routine['level']?></small>
    </h4>
    <p>
      Tab will move along skills. Use Up and Down arrow keys to change the deduction. If you're a bit rusty on the judging, check out the <a href="http://www.fig-gymnastics.com/publicdir/rules/files/tra/TRA-CoP_2017-2020-e.pdf">2017 - 2020 Code Of Points</a>, page 36 and on. Keyboard shortcuts include:
      <strong>Ctrl+Enter</strong> Save.
      <strong>n</strong> Label Next.
      <strong>k</strong> Play/pause the video.
      <strong>l</strong> Play next bounce.
      <strong>j</strong> Play previous bounce.
      <strong>i</strong> Toggle looping.
      <strong>.</strong> Speed up video.
      <strong>,</strong> Slow down video.
    </p> -->

    <div class="row">
        <div class="col-md-6">
            <div class="fixedsticky">
                <video src="{{ url_for('static', filename=vidPath) }}" controls style="max-width:100%"></video>

                <div style="text-align:right;">
                    <div class="js-current-playback-speed">Playback Speed: 1</div>
                    <div class="js-current-loop-index">No bounce looping</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            {% if not routine.labelled %}
                <p>The bounces in this routine have not been labelled yet. Please click the button, and then come back.</p>
                <div style="text-align:center;">
                    <a href="label/{{ routine.id }}" class="btn btn-primary">Label This Routine</a>
                </div>
            {% else %}

                <!-- Input for Contributors name -->
                <form class="form-inline"> <!-- form is here for autocomplete to work -->
                    <label for="name" class="mr-2">Your Name:</label>
                    <input type="text" id="name" autocomplete="given-name" required class="form-control js-username" style="flex-grow:1" value="{{ userName }}" placeholder="Name">
                </form>

                <br>

                <div class="list-group">
                    <!-- "Table" Heading -->
                    <div class="row list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>Skill Name</h6>
                            <h6>Deduction</h6>
                        </div>
                    </div>

                    <!-- All the skils -->
                    {% for sk in skills %}
                        <div class="row js-bounce list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h6>
                                    {{ sk.idx }}

                                    <!-- Loop button -->
                                    <button class="btn-link btn-sm js-loop-btn" title="Click to loop the video on one skill. Press i to stop looping.">
                                        <i class="fa fa-repeat" aria-hidden="true"></i> <span class="hidden-xs-down">Loop</span>
                                    </button>

                                    {{ sk.skill_name }}
                                </h6>

                                <h6>
                                    <!-- Don't allow judging if skill is broken -->
                                    {% if sk.skill_name == 'Broken' %}
                                        N/A
                                    {% else %}
                                        <span class="js-deduction_score">0.0</span>
                                    {% endif %}
                                </h6>
                            </div>

                            <div class="col-12 js-deduction_categories">
                                {{ sk.judging_rows|safe }}
                            </div>

                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col" style="text-align:center">
                        <strong>Score:</strong>
                        <span class="js-score">0.0</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary js-save">Save</button>
                        {% if nextRoutine %}
                            <a href="{{ url_for('judge_routine',routine_id=nextRoutine.id) }}" class="float-right btn btn-secondary js-do-next"
                               title="Judge the next routine you haven't yet: {{ nextRoutine.name }}">Judge Next</a>
                        {% else %}
                            <a href="{{ url_for('list_routines') }}" class="float-right btn btn-secondary js-do-next" title="None left to judge">Back to Routines</a>
                        {% endif %}
                        {{ nextBtn|safe }}
                    </div>
                </div>

            {% endif %}
        </div> <!-- col-md-6 -->
    </div>

{% endblock %}

{% block js %}

    <script>

        $('video').fixedsticky();

        VideoControls.init(
            $('video')[0],
            {{ startEndTimes|safe }},
            $('.js-bounce')
        );

        Judge.init(
            {{ routine.id }},
            {{ skillIds }}
            {#            {{ bounces|safe }}#}
        );

    </script>

{% endblock %}