{% from "macros.html" import nav_link with context %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}">

    <title>{{ title }}</title>
    <!-- <base href="/fyp/"> -->

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Styles -->
    <link href="{{ url_for('static', filename='node_modules/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/fixed-sticky/fixedsticky.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!-- Icons - For the return to top arrow -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css') }}">
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="index.php" style="Final Year Project">FYP</a>

        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <ul class="navbar-nav mr-auto">
                {{ nav_link('index', 'Home') }}
                {{ nav_link('gui', 'GUI') }}
                {{ nav_link('list_routines', 'Routines') }}
            </ul>
            <ul class="navbar-nav pull-right">
                <li class="nav-item ">
                    <a class="nav-link" target="_blank" href="{{ url_for('static', filename='Guide_to_Judging.pdf') }}">Judging Guide</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container main">

    <!-- Return to top arrow -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

    <!-- Content goes here -->
    {% block body %}{% endblock %}

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/tether/dist/js/tether.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- Mine & MSC
======================================================= -->
<script src="{{ url_for('static', filename='js/select2SkillNameData.js') }}"></script> <!-- Should be included before "var Label" which is defined in main -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/videoControls.js') }}"></script>

<script src="{{ url_for('static', filename='node_modules/select2/dist/js/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/fixed-sticky/fixedsticky.js') }}"></script>

{% block js %}{% endblock %}

</body>

</html>
