{% macro nav_link(endpoint, name) %}
    {% if request.endpoint.endswith(endpoint) %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for(endpoint) }}">{{ name }}</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for(endpoint) }}">{{ name }}</a>
        </li>
    {% endif %}
{% endmacro %}

{% macro check_or_cross(condition) %}
    {% if condition %}
        <i class="good fa fa-check" aria-hidden="true"></i>
    {% else %}
        <i class="bad fa fa-times" aria-hidden="true"></i>
    {% endif %}
{% endmacro %}