{% extends "layout.html" %}
{% block body %}


    <h4 class="clearfix">
        {{ routine.name }} - {{ routine.level_name }}

        <button class="btn btn-secondary btn-sm pull-right" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-keyboard-o" aria-hidden="true"></i>
        </button>
    </h4>
    <div class="collapse mb-3" id="collapseExample">
        <div class="card card-block">
            <div class="card-text">
                Keyboard Shortcuts
                <div class="row">
                    <div class="col"><kbd>k</kbd> Play/pause the video.</div>
                    <div class="col"><kbd>l</kbd> Play next bounce.</div>
                    <div class="col"><kbd>j</kbd> Play previous bounce.</div>
                    <div class="col"><kbd>i</kbd> Toggle looping.</div>
                </div>
                <div class="row">
                    <div class="col"><kbd>.</kbd> Speed up video.</div>
                    <div class="col"><kbd>,</kbd> Slow down video.</div>
                    <div class="col"><kbd>n</kbd> Go to Next.</div>
                    <div class="col"><kbd>Ctrl+Enter</kbd> Save.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="fixedsticky">
                <video preload="auto" src="{{ url_for('static', filename=vidPath) }}" controls style="max-width:100%"></video>

                <div style="text-align:right;">
                    <span class="js-current-playback-speed">
                        Playback Speed: 1
                    </span>
                    <div class="btn-group btn-group-sm" role="group" aria-label="">
                        <button type="button" class="btn btn-secondary js-btn-speed-down">-</button>
                        <button type="button" class="btn btn-secondary js-btn-speed-up">+</button>
                    </div>
                </div>

                <div style="text-align:right;">
                    <span class="js-current-loop-index">
                        No bounce looping
                    </span>
                    <div class="btn-group btn-group-sm" role="group" aria-label="">
                        <button type="button" class="btn btn-secondary js-btn-prev-skill">&laquo;</button>
                        <button type="button" class="btn btn-secondary js-btn-loop-skill"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-secondary js-btn-next-skill">&raquo;</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6">

            {% for index in bounceIndexes %}

                <div class="js-bounce" style="display:flex">
                    <!-- Index -->
                    <span class="index">{{ index }}.</span>
                    <!-- Loop button -->
                    <button class="btn-link btn-sm js-loop-btn">
                        <i class="fa fa-repeat" aria-hidden="true"></i> <span class="hidden-xs-down">Loop</span>
                    </button>
                    <!-- Select skill -->
                    <span style="flex-grow:1">
                <select class="js-select2" data-bounce-id="{{ index }}" style="width:100%"></select>
            </span>
                </div>

            {% endfor %}

            <div style="padding-top: 0.5em;">
                <button class="btn btn-primary js-save">Save</button>
                {% if nextRoutine is not none %}
                    <a href="{{ url_for('routine_label', routine_id=nextRoutine.id) }}" class="float-right btn btn-secondary js-do-next"
                       title="Label the next unlabelled routine">Label {{ nextRoutine.name }}</a>
                {% else %}
                    <a href="{{ url_for('routines_list') }}" class="float-right btn btn-secondary js-do-next" title="None left to label">Back to Routines</a>
                {% endif %}
                <?=$nextBtn?>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>

        VideoControls.init(
            $('video')[0],
            {{ startEndTimes|safe }},
            $('.js-bounce')
        );

        Label.init(
            {{ routine.id }},
            {{ bounceIds }},
            {{ bounceNames|safe }}
        );

    </script>

{% endblock %}