/*
  Home Styles
*/
body {
  /* Nice UX */
  padding-bottom: 5rem;
}
.main {
  /* Padding from the nvabar */
  margin-top: 1rem;
}
/* Hotfix for bootstrap alpha-6 issue */
@media (max-width: 991px) {
  .navbar-toggleable-md>.container {
    margin: 0;
  }
}
.navbar-toggler-right {
    right: 0;
}

/* Animations for when changing page */
.page.ng-enter {
  animation: slideInRight 0.2s both;
  z-index: 1;
}
.page.ng-leave {
  animation: slideOutLeft 0.2s both;
  z-index: 1;
  height: 0;
}

@keyframes slideInRight {
  from    { transform: translateX(100%); }
  to      { transform: translateX(0); }
}

@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}


/*
  Return to top arrow
*/
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 22;
}
#return-to-top.show {
  opacity: 1;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}


/*
  Videos list
*/
.vid-row{
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}
.vid-row-hover:hover {
  /* cursor: pointer; */
  background-color: rgba(0,0,0,.075);
}
a .fa, .btn-link .fa {
  /* Underline icon if child of link */
  text-decoration: inherit;
}


/* Video details */
.index {
  display: inline-block;
  min-width: 1.4rem;
  text-align: right;
}
.select2-container--default .select2-results>.select2-results__options {
  min-height: 400px;
}
